h1 {
	color: #98F703;
	font-size: 105%;
	font-weight: normal;
	text-align: center;
	margin: 0px auto 6px auto;
	padding: 0px;
	width: 98%;
	position: relative;
	overflow: hidden;
	height: 20px;
}
h2 {
	color: #98F703;
	font-size: 105%;
	font-weight: normal;
	text-align: center;
	margin: 0px auto 6px auto;
	padding: 0px;
	width: 98%;
	position: relative;
	overflow: hidden;
	height: 20px;
}
h3 {
	color: #98F703;
	font-size: 105%;
	font-weight: normal;
	text-align: center;
	margin: 0px auto 6px auto;
	padding: 0px;
	width: 98%;
	position: relative;
	overflow: hidden;
	height: 20px;
}





.td-col0 {
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
}
.td-col1 {
	font-size: 90%;
	color: #98F703;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	vertical-align: middle;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #98F703;
}
.td-col2 {
	font-size: 90%;
	color: #98F703;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #98F703;
}
.td-col3 {
	font-size: 90%;
	color: #98F703;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #98F703;
}
.td-col4 {
	font-size: 90%;
	color: #98F703;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #98F703;
}
.td-col5 {
	font-size: 90%;
	color: #98F703;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}


.td-col10 {
	padding: 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
}
.td-col11 {
	font-size: 90%;
	color: #C0C0C0;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
.td-col12 {
	font-size: 90%;
	color: #C0C0C0;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
.td-col13 {
	font-size: 90%;
	color: #C0C0C0;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
.td-col14 {
	font-size: 90%;
	color: #C0C0C0;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
.td-col15 {
	font-size: 90%;
	color: #C0C0C0;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 20px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
